/* 2nd Section */
.department {
  margin: 100px 0 0 0;
  background-color: #000;
  color: #fff;
  padding: 150px;
}
.department h1 {
  font-size: 35px;
  font-family: 400;
  margin: 0;
  line-height: 42px;
}
.department h1.green {
  color: #4fe653;
}
.department p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #858585;
}
.department p.in-the {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  max-width: 300px;
}

/* 3rd Section */
.apply-market-bg {
  /* investor-obj3 */
  /* bg-trillion-2 */
  background-image: url("../img/bg-trillion-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.goldMan {
  padding: 75px 150px 100px;
}
.goldMan .head-wrap {
  margin: 0 0 20px 40px;
}
.goldMan h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  color: #000;
  margin: 0;
}
.goldMan h1 span {
  background-color: #4fe653;
  color: #000;
  border-radius: 60px;
  padding: 2px 4px;
  font-size: 28px;
}

/* 4th Section */
.traditional-method {
  background-color: #f4f4f4;
  margin-bottom: 125px;
  padding: 100px 150px 160px;
}
.traditional-method p {
  max-width: 440px;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
.traditional-method .right-water {
  position: relative;
}
.traditional-method .right-water img {
  position: absolute;
  top: 0;
  right: 0;
}

/* 5th Section */
.green-hydrogen {
  background-color: #343245;
  padding: 100px 150px;
}
.green-hydrogen .heading-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.green-hydrogen .heading-wrap h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 49px;
  color: #fff;
  margin: 0;
}
.green-hydrogen .heading-wrap h1 span {
  color: #4fe653;
}
.green-hydrogen .facilities {
  margin: 125px 0 50px 0;
}
.green-hydrogen .facilities .card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.green-hydrogen .facilities .card-wrapper .card {
  background-color: #1f1d2d;
  border-radius: 20px;
}

/* 6th Section */
.thermo-loop {
  background-color: #f4f4f4;
  padding: 125px 150px;
}
.thermo-loop .santa {
  max-width: 480px;
}
.thermo-loop .santa h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  color: #000;
  margin: 0;
}
.thermo-loop .santa h1 span {
  font-weight: 700;
}
.thermo-loop .santa p {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 50px;
  color: #000;
}
.thermo-loop .santa p.second {
  margin-top: 30px;
}
.thermo-loop .santa p span {
  font-weight: 700;
}
.thermo-loop .new-hy h1 {
  font-size: 35px;
  line-height: 42px;
  color: #000;
  font-weight: 400;
}
.thermo-loop .new-hy img {
  margin-top: 50px;
}

/* 7th Section */
.developed {
  position: relative;
  margin-bottom: 300px;
}
.developed .image-wrap {
  position: relative;
  width: 100%;
  height: auto;
}
.developed .image-wrap img {
  width: 100%;
  display: block;
}
.developed .card {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -57%);
  padding: 45px 20px 20px;
  color: #000;
  background: #4fe653;
  border-radius: 0;
  width: 60%;
}
.developed .card .heading-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.developed .card h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 55px;
  color: #000;
  margin: 0;
  text-align: center;
}
.developed .second-card {
  width: 100%;
  padding: 20px;
  color: #000;
  background: #4fe653;
  position: absolute;
  top: 67%;
}

.developed .second-card p {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  color: #000;
  line-height: 42px;
}
.developed .second-card .hydro-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
  flex-direction: column;
}
.developed .second-card .hydro-wrap img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.developed .second-card .hydro-wrap p {
  font-size: 22px;
  font-weight: 400;
  color: #000;
  line-height: 32px;
  margin: 30px 0 0 0;
}
.developed .second-card .hydro-wrap p.another {
  margin: 0;
}
.developed .second-card .hydro-wrap a {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  line-height: 20px;
  margin: 30px 0 0 0;
  background: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.mobile-developed {
  display: none;
}

.mobile-head-wrap {
  display: none;
}

/* 8th Section */
.last-3Reason {
  padding-top: 40px !important;
}
.last-3Reason .investBggray {
  border-radius: 10px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .department {
    margin: 30px 0;
    padding: 20px;
  }
  .department h1 {
    font-size: 22px;
  }
  .department p.in-the {
    margin: 20px 0 40px 0;
    max-width: unset;
  }
  .department h1.green {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .department p {
    font-size: 13px;
  }
  .goldMan {
    padding: 20px;
  }
  .goldMan .head-wrap {
    display: none;
  }
  .goldMan .mobile-head-wrap {
    display: block !important;
    margin: 20px 0 0 0;
  }
  .goldMan h1 {
    font-size: 22px;
  }
  .goldMan h1 span {
    font-size: 22px;
  }
  .traditional-method {
    padding: 20px 20px 25px;
    margin: 0 0 0px 0;
  }
  .traditional-method .right-water img {
    position: unset;
    margin: 20px 0 0 0;
  }
  .traditional-method p {
    font-size: 16px;
  }
  .green-hydrogen {
    padding: 20px;
  }
  .green-hydrogen .heading-wrap h1 {
    font-size: 22px;
  }
  .green-hydrogen .facilities {
    margin: 20px 0;
  }
  .green-hydrogen .facilities .card-wrapper {
    gap: 20px;
    width: 100%;
  }
  .green-hydrogen .first-card,
  .green-hydrogen .second-card,
  .green-hydrogen .third-card {
    justify-content: center !important;
  }
  .green-hydrogen .first-card.second-card,
  .green-hydrogen .second-card.second-card,
  .green-hydrogen .third-card.second-card {
    margin: 30px 0;
  }
  .thermo-loop {
    padding: 20px 20px 35px;
  }
  .thermo-loop .santa h1 {
    font-size: 22px;
  }
  .thermo-loop .santa h1 span {
    font-size: 22px;
  }
  .thermo-loop .santa p {
    font-size: 16px;
    margin: 10px;
  }
  .thermo-loop p.second {
    margin-top: 10px !important;
  }
  .thermo-loop .new-hy h1 {
    font-size: 22px;
  }
  .thermo-loop .new-hy img {
    margin-top: 20px;
  }
  .developed {
    display: none;
  }
  .mobile-developed {
    display: block;
    background-color: #4fe653;
    padding: 20px;
    color: #fff;
  }
  .mobile-developed h1 {
    font-size: 22px;
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: #000;
  }
  .mobile-developed p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin: 20px 0;
  }
  .mobile-developed img {
    margin: 10px 0;
  }
  .mobile-developed .learn-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0 20px 0;
  }
  .mobile-developed .learn-a a {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    line-height: 20px;
    background: #fff;
    padding: 12px 24px;
    border-radius: 10px;
  }
  .last-3Reason {
    padding-top: 0 !important;
  }
}
